[Unit]
Description=irqbalance daemon
After=syslog.target

[Service]
EnvironmentFile=/etc/sysconfig/irqbalance
Type=forking
ExecStart=/usr/sbin/irqbalance $IRQBALANCE_ARGS

[Install]
WantedBy=multi-user.target
